@/atom:Nephrin/Anchor 1000  # Anchor
@/atom:Nephrin/NephL 450  # NephL
@/atom:Nephrin/pY 450  # pY
@/atom:Nck/SH2 11000  # SH2
@/atom:Nck/SH3 7000  # SH3
@/atom:Nck/nckL 450  # nckL
@/atom:NWASP/PRM 450  # PRM
@/atom:NWASP/nwL 450  # nwL
@/atom:NWASP/VCA 450  # VCA
@/atom:Arp23/Arp 450  # Arp
@/atom:Arp23/arpL 20000  # arpL
